/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.Title {
  color: #29aad6;
}
/* input form background */
.form-background {
  background-color: rgb(223, 231, 238);
}

.button-color {
  background-color: #e1341e;
  border: none;
  padding: 8px 26px;
  color: white;
  border-radius: 3px;
}
.secondary {
  border: none;
  background-color: #e1341e;
}
